.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
}

.box li {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    padding: 13px;
}

.box img {
    margin: 0;
    max-width: 100%;
    max-height: 220px;
    border-radius: 4px;
}

.box strong {
    font-size: 16px;
    line-height: 20px;
    color: #191919;
    margin-top: 10px;
}

.box button {
    margin-top: 10px;
    display: flex;
    padding: 7px 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #191919;
    border: 0;
    border-radius: 4px;
}

.box button div {
    display: flex;
    align-items: center;
    padding: 10px;
}