.title {
    color: #fff;
}

.reservas {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservas img {
    height: 100px;
}

.reservas button {
    border: 0;
    background-color: #fff;
}

footer button {
    border: 0;
    display: flex;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold;
}

.reservas .amout {
    display: flex;
    align-items: center;
}

.reservas .amout input {
    border: 1px solid #eee;
    border-radius: 4px;
    color: #242424;
    padding: 5px;
    width: 45px;
}