.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    padding: 10px;
}

.logo {
    max-width: 110px;
    max-height: 110px;
}

.reserva {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.reserva div {
    text-align: right;
    margin-right: 10px;
}

.reserva strong {
    display: block;
    color: #fff
}

.reserva span {
    color: #ddd;
    font-size: 15px;
}